<!-- contact -->
<section class="contact">
  <h2>
    Have an Awsome Project <br />
    Idea? <span>Let’s Discuss</span>
  </h2>

  <!-- <form class="input-contact-wrapper">
    <input
      type="email"
      class="input-contact-section"
      id="email"
      placeholder="Enter Email Address"
    />
    <svg class="icon-sms">
      <use xlink:href="assets/svg/icons.svg#icon-sms"></use>
    </svg>
    <button type="submit" class="imput-contact-btn">Send</button>
  </form> -->
  <button type="submit" class="imput-contact-btn">
    Reserve a call with me!
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="34"
      height="35"
      viewBox="0 0 34 35"
      fill="none"
    >
      <path
        d="M9.91675 24.1646L24.0834 9.99788"
        stroke="#FCFCFD"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M9.91675 9.99788L24.0834 9.99788L24.0834 24.1646"
        stroke="#FCFCFD"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</section>
