<div class="container work-exp-container">
  <div class="work-exp">
    <h2>My <span>Work Experince</span></h2>
    <ul class="exp-list">
      <li class="work-exp-list-item">
        <div class="company-data">
          <h3>Freelance</h3>
          <h4>November 2023-current</h4>
        </div>
        <div class="about-data">
          <h3>Full-Stuck Developer</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus
            nunc, posuere in justo vulputate, bibendum sodales
          </h4>
        </div>
      </li>
      <li class="work-exp-list-item">
        <div class="company-data">
          <h3>Social Media Manager</h3>
          <h4>November 2023-current</h4>
        </div>
        <div class="about-data">
          <h3>Social Media Manager</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus
            nunc, posuere in justo vulputate, bibendum sodales
          </h4>
        </div>
      </li>
      <li class="work-exp-list-item">
        <div class="company-data">
          <h3>Marketing and Product Manager</h3>
          <h4>July 2017- August 2020</h4>
        </div>
        <div class="about-data">
          <h3>Marketing and Product Manager</h3>
          <!-- <h4>something about exp</h4> -->
        </div>
      </li>
    </ul>
    <img src="../img/ROW.png" alt="row" class="ex-row" />
  </div>
</div>
