<!-- Header Section -->
<div class="container">
  <header class="header">
    <nav>
      <ul class="header-ul">
        <li class="header-li"><a href="#home">Home</a></li>
        <li class="header-li"><a href="#about">About</a></li>
        <li class="header-li"><a href="#service">Service</a></li>
      </ul>
      <a href="#" class="logo"
        ><img src="../img/logo.svg" alt="logo" class="logo-svg" />
        <img src="../img/typo.svg" alt="logo-typo"
      /></a>
      <ul class="header-ul">
        <li class="header-li"><a href="#experience">Experience</a></li>
        <li class="header-li"><a href="#projects">Project</a></li>
        <li class="header-li"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
