<section id="hire-me" class="hire-me">
  <div class="container experience-container">
    <img src="../img/Vita_work-min.png" alt="profile_foto" />
    <div class="hire-me-info-wrapper">
      <h2 class="hire-me-title">Why <span>Hire me</span> ?</h2>
      <p class="hire-me-paragraf">
        Lorem ipsum dolor sit amet, consectetur <br />
        adipiscing elit. Duis lacus nunc, posuere in justo <br />
        vulputate, bibendum sodales
      </p>
      <ul class="information-wrapper-list">
        <li class="information-wrapper-item">
          <h2>450+</h2>
          <p>projects completed</p>
        </li>
        <li class="information-wrapper-item">
          <h2>450+</h2>
          <p>projects completed</p>
        </li>
      </ul>
      <button class="hire-me-btn">Hire me</button>
    </div>
  </div>
</section>
