<!-- Portfolio Section -->

<section id="portfolio" class="portfolio">
  <div class="container portfolio-container">
    <div class="portfolio-container-info">
      <h2>
        Let’s have a look at <br />
        my <span>Portfolio</span>
      </h2>
      <button class="portfolio-container-btn">See All</button>
    </div>
    <ul class="portfolio-list">
      <li class="portfolio-section-list-item">
        <div class="portfolio-gradient-overlay"></div>

        <img src="../img/choc.png" class="portfolio-item-img" />
        <button class="portfolio-icon-btn">
          <svg class="icon-light">
            <use xlink:href="assets/svg/icons.svg#icon-light"></use>
          </svg>
        </button>
        <h3 class="h-portfolio-section-visible">SimplyChocolate</h3>

        <div class="portfolio-content">
          <h3 class="h-portfolio-section">SimplyChocolate</h3>
          <p class="overlay-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
            interdum ligula a dignissim. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed lobortis orci elementum egestas lobortis.
          </p>
        </div>
      </li>
      <li class="portfolio-section-list-item">
        <div class="portfolio-gradient-overlay"></div>

        <img src="../img/Campjpg.jpg" class="portfolio-item-img" />
        <button class="portfolio-icon-btn">
          <svg class="icon-light">
            <use xlink:href="assets/svg/icons.svg#icon-light"></use>
          </svg>
        </button>
        <h3 class="h-portfolio-section-visible">TravelTruck</h3>

        <div class="portfolio-content">
          <h3 class="h-portfolio-section">TravelTruck</h3>
          <p class="overlay-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
            interdum ligula a dignissim. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sed lobortis orci elementum egestas lobortis.
          </p>
        </div>
      </li>
      <!--повтор кода для наполнения портфолио -->
    </ul>
    <!-- <ul class="portfolio-types-list">
      <li class="portfolio-types-list-item">Landing page</li>
      <li class="portfolio-types-list-item">Web-services</li>
      <li class="portfolio-types-list-item">Telegram Mini App</li>
    </ul>
    <div class="portfolio-info" id="portfolio-info">
      <p>Information about Landing page</p>
    </div> -->
  </div>
</section>
