<!-- Services Section -->
<section id="services" class="services">
  <div class="container">
    <div class="service-title-wrapper">
      <h2 class="service-title"><span>My</span> Services</h2>
      <p class="service-paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis <br />
        lacus nunc, posuere in justo vulputate, bibendum sodales
      </p>
    </div>
    <!-- <div class="services-grid">
      <div class="service-card">
        <h3 class="service-card-title">Landing Page</h3>
        <div class="service-img-wrapper">
          <div class="service-img-bg-up"></div>
          <div class="service-img-bg-down"></div>
          <img src="../img/black-bg-min.png" alt="" class="service-card-img" />
        </div>
        <div class="service-btn-mask">
          <button class="service-btn">
            <svg class="icon icon-up-right">
              <use xlink:href="assets/svg/symbol-defs.svg#icon-up-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="service-card">
        <h3 class="service-card-title">Landing Page</h3>
        <div class="service-img-wrapper">
          <div class="service-img-bg-up"></div>
          <div class="service-img-bg-down"></div>
          <img
            src="./assets/img/aplication.jpeg"
            alt=""
            class="service-card-img"
          />
        </div>
        <div class="service-btn-mask">
          <button class="service-btn">
            <svg class="icon icon-up-right">
              <use xlink:href="assets/svg/symbol-defs.svg#icon-up-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="service-card">
        <h3 class="service-card-title">Landing Page</h3>
        <div class="service-img-wrapper">
          <div class="service-img-bg-up"></div>
          <div class="service-img-bg-down"></div>
          <img
            src="./assets/img/aplication2.jpeg"
            alt=""
            class="service-card-img"
          />
        </div>
        <div class="service-btn-mask">
          <button class="service-btn">
            <svg class="icon icon-up-right">
              <use xlink:href="assets/svg/symbol-defs.svg#icon-up-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div> -->
    <section class="services">
      <div id="services-slider" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="service-card">
                <h3 class="service-card-title">Web-Development</h3>
                <div class="service-img-wrapper">
                  <div class="service-img-bg-up"></div>
                  <div class="service-img-bg-down"></div>
                  <img
                    src="../img/services-1.jpg"
                    alt=""
                    class="service-card-img"
                  />
                </div>
                <div class="service-btn-mask">
                  <button class="service-btn">
                    <svg class="icon icon-up-right">
                      <use
                        xlink:href="assets/svg/symbol-defs.svg#icon-up-right"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="service-card">
                <h3 class="service-card-title">UX-UI Design</h3>
                <div class="service-img-wrapper">
                  <div class="service-img-bg-up"></div>
                  <div class="service-img-bg-down"></div>
                  <img
                    src="../img/services-1.jpg"
                    alt=""
                    class="service-card-img"
                  />
                </div>
                <div class="service-btn-mask">
                  <button class="service-btn">
                    <svg class="icon icon-up-right">
                      <use
                        xlink:href="assets/svg/symbol-defs.svg#icon-up-right"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="service-card">
                <h3 class="service-card-title">Marketing Services</h3>
                <div class="service-img-wrapper">
                  <div class="service-img-bg-up"></div>
                  <div class="service-img-bg-down"></div>
                  <img
                    src="../img/services-1.jpg"
                    alt=""
                    class="service-card-img"
                  />
                </div>
                <div class="service-btn-mask">
                  <button class="service-btn">
                    <svg class="icon icon-up-right">
                      <use
                        xlink:href="assets/svg/symbol-defs.svg#icon-up-right"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="service-card">
                <h3 class="service-card-title">AI in Social Media</h3>
                <div class="service-img-wrapper">
                  <div class="service-img-bg-up"></div>
                  <div class="service-img-bg-down"></div>
                  <img
                    src="../img/services-1.jpg"
                    alt=""
                    class="service-card-img"
                  />
                </div>
                <div class="service-btn-mask">
                  <button class="service-btn">
                    <svg class="icon icon-up-right">
                      <use
                        xlink:href="assets/svg/symbol-defs.svg#icon-up-right"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
