<!-- Testimonials Section -->
<section class="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-info">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="testimonial-vector"
        width="32"
        height="33"
        viewBox="0 0 32 33"
        fill="none"
      >
        <path
          d="M2 20.0811C2 17.0811 5 11.0811 2 2.08105M9.5 23.5811C13.8333 19.4144 22.7 9.28105 23.5 2.08105M12.5 30.5811C15.1667 30.5811 22.3 29.1811 29.5 23.5811"
          stroke="#FFFDFC"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <h2>
        Testimonials That <br />
        Speak to <span>My Results</span>
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue
        interdum <br />
        ligula a dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Sed <br />
        lobortis orci elementum egestas lobortis.
      </p>
    </div>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="info-item">
          <img
            src="./assets/img/Ellipse 21.jpg"
            alt="avatar"
            class="info-item-img"
            width="55px"
            height="55px"
          />
          <div class="info-item-wrapper">
            <h4>Jayesh Patil</h4>
            <p>CEO, Lirante</p>
          </div>
        </div>
        <div>
          <div class="testimonials-text-wrapper">
            <div class="testimonials-icons-wrapper">
              <svg class="icon-star">
                <use xlink:href="assets/svg/icons.svg#icon-star"></use>
              </svg>
              <svg class="icon-star">
                <use xlink:href="assets/svg/icons.svg#icon-star"></use>
              </svg>
              <svg class="icon-star">
                <use xlink:href="assets/svg/icons.svg#icon-star"></use>
              </svg>
              <svg class="icon-star">
                <use xlink:href="assets/svg/icons.svg#icon-star"></use>
              </svg>
              <svg class="icon-star">
                <use xlink:href="assets/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
            <h4>5.0</h4>
          </div>
        </div>
        <p>
          consectetur adipiscing elit. Sed congue interdum ligula a dignissim.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis
          orci elementum egestas lobortis.Sed lobortis orci elementum egestas
          lobortis.Sed lobortis orci elementum egestas lobortis.
        </p>
      </li>
    </ul>
  </div>
</section>
