.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  font-family: Numans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
h1 {
  font-family: Urbanist;
  font-size: 95.566px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.433px;
}

h2 {
  font-family: Numans;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -0.96px;
}
h3 {
  font-family: Numans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}

h4 {
  color: #fcfcfd;
  text-align: center;
  font-family: Numans;
  font-size: 23.501px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span {
  color: #fd853a;
}

/* main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */
