/* Header */
.header {
  background: #111;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 50px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.header-ul {
  display: flex;
  flex-direction: row;
}

.header-li {
  /* padding: 20px 40px; */
  color: var(--white, #fff);
  font-family: Numans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo-svg {
  height: 46px;
  width: 46px;
}

/* active link */

.header-li a {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  color: var(--white, #fff);
  text-decoration: none;
  font-family: Numans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.3px;
  transition: all 0.3s ease-in-out;
}

.header-li a.active {
  background: #fd853a;
  color: var(--white, #fff);
  font-weight: 700;
}
