/* Services Section */

#services {
  position: relative;
  background-color: #171717;
  border-radius: 50px;
  padding: 50px 0;
  color: #ffffff;
}

#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/black-bg-min.png') no-repeat center center / cover;
  opacity: 0.2;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.service-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 96px;
}
.service-title {
  color: #fcfcfd;
  font-family: Numans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
  letter-spacing: -0.72px;
  span {
    color: #fd853a;
  }
}

.service-paragraf {
  color: var(--white, #fff);
  font-family: Numans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
}
.services {
  padding: 50px 0;
  text-align: center;
}

.services-grid {
  display: flex;
  justify-content: space-around;
}

.service-card {
  position: relative; /* Это позволит позиционировать дочерние элементы */
  background-color: rgba(104, 104, 104, 0.2);
  border: 2px solid rgb(129, 127, 127);
  border-radius: 35px;
  backdrop-filter: blur(7.5px);
  width: 416px;
  height: 508px;
  flex-shrink: 0;
  overflow: hidden; /* Скрытие элементов, выходящих за границы карточки */
}

/* Заголовок карточки */
.service-card-title {
  color: var(--white, #fff);
  font-family: Numans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  text-align: left;
  padding: 44px 37px;
}

/* Обертка для изображения и фонов */
.service-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 307px;
  margin-top: 10px;
  border-top: 2px solid rgb(129, 127, 127);
}

.service-img-bg-up {
  position: absolute;
  top: 66px;
  left: 0;
  width: 374px;
  height: 329px;
  border-radius: 35px;
  background: #9e9d9d;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

/* Нижний фон под верхним */
.service-img-bg-down {
  position: absolute;
  top: 44px;
  left: 0;
  width: 328px;
  height: 329px;
  border-radius: 35px;
  background: #757575;
  opacity: 0.5;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Изображение */
.service-card-img {
  position: absolute;
  top: 88px;
  left: 0;
  width: 416px;
  height: 307px;
  border-radius: 35px;
  object-fit: cover;
  z-index: 2;
}

/* Кнопка, которая располагается поверх изображения */
.service-btn {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: none;
  background: #1d2939;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.service-btn-mask {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 4;
}

.icon-up-right {
  width: 72px;
  height: 72px;
}

.splide {
  margin: 0 auto;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide__pagination {
  top: 530px;
}

/* .splide__arrow--prev {
  left: -2em;
}
.splide__arrow--next {
  right: -2em;
}
.splide__arrow {
  background: transparent;
}
.splide__arrow svg {
  height: 3em;
  width: 3em;
} */

.splide__arrows {
  display: none; /* Убираем стандартные стрелки */
}
.custom-arrow {
  position: absolute;
  top: 55%;
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.custom-arrow svg {
  width: 70px;
  height: 70px;
  stroke: rgba(255, 255, 255, 0.85);
}

.custom-arrow-prev {
  left: -10px;
}

.custom-arrow-next {
  right: -10px;
}
